<!doctyle html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    body {
      counter-reset: section1 section2 section3 section4;
      background-color: white;
    }

    body, p, div, th, td {
      font-family: verdana, helvetica, arial, sans-serif;
      font-size: 10pt;
    }

    h1 {
      text-align: center;
    }

    .author {
      text-align: center;
      font-weight: bold;
    }

    .revision {
      text-align: center;
      font-style: italic;
    }

    h2::before {
      counter-reset: section2 section3 section4;
      counter-increment: section1;
      content: counter(section1) " ";
    }

    h3::before {
      counter-reset: section3 section4;
      counter-increment: section2;
      content: counter(section1) "." counter(section2) " ";
    }

    h4::before {
      counter-reset: section4;
      counter-increment: section3;
      content: counter(section1) "." counter(section2) "." counter(section3) " ";
    }

    table {
      border-collapse: collapse;
      border-spacing: 0px 0px;
      margin: 0 auto;
      page-break-inside: avoid;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }

    th, td {
      padding: 0.2mm 2mm;
    }

    th:not(:last-child),
    td:not(:last-child) {
      border-right: 1px black solid;
    }

    thead > tr {
      border-bottom: 1px black solid;
    }

    tbody > tr:not(:last-of-type) {
      border-bottom: 1px black solid;
    }

    @media print {
      @page {
        padding: 2cm 4cm;
      }

      .beginning-of-doc {
        padding-top: 4cm;
      }

      hr {
        height: 2px;
        background-color: black;
        border: none;
      }


      h2 {
        margin-top: 1.5cm;
        padding-left: 1cm;
        border-bottom: 2px solid black;
        page-break-after: avoid;
      }

      h3 {
        margin-top: 1cm;
        padding-left: 1cm;
        page-break-after: avoid;
      }

      h4 {
        padding-left: 1cm;
        page-break-after: avoid;
      }
    }
    </style>
  </head>
  <body>
    <div class="beginning-of-doc"></div>
    {{{content}}}
  </body>
</html>
